@function px2rem($px, $base-font-size: 75px) {
  @if (unitless($px)) {
    @return px2rem($px + 0px);
  } @else if (unit($px) == rem) {
    @return $px;
  }
  @return ($px / $base-font-size) * 1rem;
}

@mixin font-dpr($font-size) {
  font-size: $font-size/2;

  [data-dpr="2"] & {
    font-size: $font-size;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 1.5;
  }
}

@mixin image-set($bg, $bg2x) {
  background-image: image-set(url($bg) 1x, url($bg2x) 2x);
  background-image: -webkit-image-set(url($bg) 1x, url($bg2x) 2x);
  background-image: -moz-image-set(url($bg) 1x, url($bg2x) 2x);
  background-image: -ms-image-set(url($bg) 1x, url($bg2x) 2x);
  background-image: -o-image-set(url($bg) 1x, url($bg2x) 2x);
}